beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
configparser==7.1.0
idna==3.10
iterfzf==1.4.0.54.3
numpy==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
toml==0.10.2
tzdata==2025.1
urllib3==2.3.0
